<h1>Homepage</h1>

<h3>My Blog Posts</h3>

<%= @posts.inspect %>

<hr>

<p>
  <%= link_to 'Authors Page', authors_path %>

<br>

  <%= link_to 'Titles Page', titles_path %>

<br>
  
  <%= link_to 'My Blog', blogs_path %>
</p>