<h1>Titles Page</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @titles.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<p>
  <%= link_to 'Homepage', root_path %>

<br>

  <%= link_to 'My Blog', blogs_path %>

<br>

  <%= link_to 'Authors Page', authors_path %>
</p>